input {
    display: block;
}
.progress_bar_bg{
    background: #fff;
    width: 160px;
    height: 5px;
    margin: 3px;
    border: 1px solid #000;
}
.progress_bar {
    background: rgb(180, 9, 9);
    height: 100%;
    margin: 0;
}